<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="rabbitmq-ip-local" value="rabbitmq://localhost:5672/" />
        <add key="rabbitmq-user-local" value="guest" />
        <add key="rabbitmq-password-local" value="guest" />
        <add key="remote-server-uri-local" value="http://localhost:5197/" />

        <add key="rabbitmq-ip-competition" value="rabbitmq://23.99.134.228:5672/xqn-wv6-yow-kme/" />
        <add key="rabbitmq-user-competition" value="xqn-wv6-yow-kme" />
        <add key="rabbitmq-password-competition" value="xqn-wv6-yow-kme" />
        <add key="remote-server-uri-competition" value="https://nsupeakybrideapi20221215134314.azurewebsites.net/" />
        <add key="session-competition" value="xqn-wv6-yow-kme" />
    </appSettings>
</configuration>